.appointment-list {
  display: flex;
  flex-direction: column;
  margin: 4px;
  padding: 4px 12px;
  border: 1px solid #aaa;
  border-radius: 12px;
  width: 250px;
  height: 400px;
}

.appointment-list label {
  padding: 4px;
  margin-top: 4px;
  font-weight: 200;
}

.appointment-list input {
  padding: 4px;
  margin-top: 4px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.appointment-list .list-item-container {
  padding-top: 8px;
  overflow: scroll;
}

.appointment-list .list-item {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  font-weight: 200;
  padding: 4px;
}

.appointment-list .list-item:hover {
  background-color: snow;
  font-weight: 400;
  cursor: pointer;
}

.list-item div {
  max-width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
